@tailwind base;
@tailwind components;
@tailwind utilities;



#webgazerVideoContainer{
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  height: 240px;
  @apply rounded-full overflow-hidden -translate-x-1/2 -translate-y-1/2;
}


.quadrant{
  height: calc(100vh - 64px);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.quadrant div{
  /* background-color: #252839; */
  margin: 2px 2px;
}


.up-left::after{
  content: "1";
  padding-left: 10px;
}
.up-right::after{
  position: absolute;
  right:10px;
  content: "2";
}
.down-left::after{
  content: "4";
  padding-left: 10px;
}
.down-right::after{
  content: "3";
  position: absolute;
  right:10px;
}


.quadrant div.active{
  background: url('/shark.svg') no-repeat center center;
  background-size: 150px;
}
